<!-- Default input -->
<form>
    <!-- Material input -->
    <div class="md-form form-group mt-5">
      <input type="text" class="form-control" id="formGroupExampleInputMD" placeholder="Example input">
      <label for="formGroupExampleInputMD">Example label</label>
    </div>
    <!-- Material input -->
    <div class="md-form form-group mt-5">
      <input type="text" class="form-control" id="formGroupExampleInput2MD" placeholder="Another input">
      <label for="formGroupExampleInput2MD">Another label</label>
    </div>
    <div class="file-field big">
        <a class="btn-floating btn-lg pink lighten-1 mt-0 float-left">
          <i class="fas fa-paperclip" aria-hidden="true"></i>
          <input type="file" multiple>
        </a>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
      </div>
  </form>