{% extends 'driver/base.html' %}
{% load qr_code %}
{% block content %}
<div class="col-md-12">

  <div style="height: 100vh">
    <div class="flex-center flex-column">
      <h1 class="animated fadeIn mb-2">Qr Project</h1>

      <h5 class="animated fadeIn mb-1">Peter olatunde omoleye, 27/123489.</h5>

      <p class="animated fadeIn text-muted">Computer science</p>
    </div>
  </div>

</div>

        <!-- <img src="{% qr_url_from_text 'Hello World!' %}" alt="Hello World!"> -->
    {%comment %}<img src="{% qr_url_from_text 'Hello World!'' %}" alt="Hello World!"> {%endcomment%}
{% endblock %}
